.post-card-container{
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "a b"
        "a c"
        "a d";
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(3,auto);
    border: 1px solid grey;
    box-shadow: -10px 10px 19px 0 rgba(0, 0, 0, 0.2);
}
.votes {
    grid-area: a;
}
.votes-wrapper{
    height: 20vh;
}
.title{
    height: 15vh;
}
.image{
    grid-area: c;
    height: 500px;
    width: 450px;
    border: 1px solid red;
    border-radius: 2%;
}
.post-data{
    grid-area: d;
}